 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{:url('admin/index/index')}">玖汇管理后台</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      
      <ul class="nav navbar-nav navbar-right">
            {if condition="session('?admin')"}
              <li><a href="{:url('admin/user/index')}">{:session('admin.username')}</a></li>
              <li><a href="{:url('admin/user/logout')}">退出</a></li>
            {/if}
          
            <li data-toggle="dropdown">
              <a class="dropdown">
              <span class="glyphicon glyphicon-user">  
              </span>
              </a>
            </li>
            
            
          
      </ul>
    </div>
  </div>
</nav>