<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>后台登录</title>
    <!-- Bootstrap core CSS -->
    {load file="__STATIC__/bootstrap/css/bootstrap.css"}
    {load file="__CSS__/signin.css"}
  </head>

  <body>

    <div class="container">

      <form action="{:url('admin/user/login')}" method="post" class="form-signin">
        <h2 class="form-signin-heading">玖汇</h2>
        <label class="sr-only">账号</label>
        <input type="text" name="username" class="form-control" placeholder="用户名" required autofocus>
        <label class="sr-only">密码</label>
        <input type="password" name="password" class="form-control" placeholder="密码" required>
       
      
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>

    </div>

  
  </body>
</html>